*
{  
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{

width: 100%;
}
.header_menu
{
    width:100%;
    height:80px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content:center;
    position:fixed;
    z-index:10;
    opacity:0.6;
}
.wrapper
{
    width: 900px;
    height:80px;
    display:flex;
    justify-content:space-between;
}
.img_logo 
{
    width: 114px;
    height:80px;
}
.nav
{
    width:640px;
    height:80px;
    display:flex;
    justify-content: center;
}
.nav_link
{
    font-size: 17px;
    color: rgb(255, 255, 255);
    width: 160px;
    height: 80px;
    text-decoration:none;
    font-family: sans-serif;
    display: flex;
    justify-content:center;
    align-items:center;
    padding: 30px;

}
.nav_link:hover
{
    cursor: pointer;
    border-bottom:4px solid rgb(255, 255, 255) ;
    background-color: rgb(58, 66, 70);
}
.buttons
{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    height:70px;
}
.lang
{
    width:70px;
    height: 34px;
    border-radius: 3px;
    font-size: 17px;
    background-color: rgb(58, 66, 70);
    color:white;
    border-radius:3px;
    outline:none;
}
.lang:hover 
{
    cursor:pointer ;
}
.login
{
    width:75px;
    height: 35px;
    border-radius: 3px;
    font-size:16px;
    background-color: white;
    border: 1px solid white;
    border-radius: 3px;
    outline: none;
}
.login:hover
{
    cursor: pointer;
    color: #878787;
}
.btn:focus
{
    outline:none;
}
.header
{
    color: #000000;
    text-align: center;
    margin-bottom: 30px;
    opacity: 0.5;
}
.image
{
    position: absolute;
    width: 100%;
    height: 1000px;
    background-color: rgb(0, 0, 0);
    top: 0px;
    opacity: 0.7;
}
.grid_container
{
    width:100%;
    height: 680px;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows:1fr 300px 300px;
    background-image: url("./aff1_promo_header.jpeg");
    background-size: cover;
    justify-content: center;
    align-content:space-between ;
    background-color: black;
    opacity: 0,9;
}
.window
{
    width: 600px;
    height: 250px;
    display: grid;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 6;
    grid-row: 3;
    grid-column: 2;
    align-content:space-between ;
    justify-content: center;
}
.title
{
    font-size: 36px;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}
.text
{
    width: 570px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    font-weight: 700px;
}

.button_2
{
    width: 100% ;
    height: 55px;
    display:flex;
    justify-content:space-around;
}
.Sing
{
    width: 124px;
    height: 55px;
    font-size: 20px;
    font-family: Roboto,sans-serif;
    font-weight: bold;
    color: white;
    background-color: #00be2b;
    border: 1px solid #00be2b;
    border-radius: 3px;
    outline: none;
}
.Sing:hover
{
    background-color: green;
    border:1px solid green;
    height: 54px;
}
.log
{
    width: 111px;
    height: 55px;
    font-size: 20px;
    font-family: Roboto,sans-serif;
    font-weight: bold;
    color: white;
    background-color:transparent;
    border: 1px solid #00be2b;
    border-radius: 3px;
    outline: none;
    opacity: 0,9;
}
.log:hover
{
    background-color: green;
    border:1px solid green;
    height: 54px;
}
.flex1
{
    width: 100%;
    height: 360px;
    display: flex;
    justify-content: center;
}
.grid_cont
{
    width:80%;
    display: grid;
    width:repeat(2,360px);
    height:repeat(3,360px);
    grid-gap:10px;
}
.grid_cont>*
{
    display: grid;
    justify-items: center;
    align-self:center ;
}
.one
{
 grid-column: 1/2;
 grid-row: 1;
}
.two{
 grid-column:2/3 ;
 grid-row: 1;
}
.fhree{
    grid-column: 3;
    grid-row: 1;
}
.four{
    grid-column: 1/2;
    grid-row: 2;
}
.five
{
    grid-column:2/3 ;
    grid-row: 2;
}
.six
{
    grid-column: 3;
    grid-row: 2;
}
.cd-md-4-text
{
    width: 303px;
    height: 63px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: preconnect;
    color: #a7afb8;
    font-size: 15px;
    align-items: flex-start; 
}
.hr
{
    width: 75px;
    height:  3px;
    background-color: #30cd73;
    display: flex;
}
.Publ
{
    width: 100%;
    height:  46px;
    color: #2acd73;
    font-family: preconnect;
    font-size: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container_flex
{
    width: 100%;
    height: 60px;
}